In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("/home/users/datasets/criteo/criteo_train1", sep='\t', nrows=10, names=fields)

In [17]:
df

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,...,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26,day_number
0,0,0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,...,b8170bba,9512c20b,9b6712fa,e611fb63,27fc20dc,NaN,201d7147,57e36578,b757e957,day_0
1,2,0,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,...,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,10c76e2c,30436bfc,e1be5ef2,day_0
2,4,0,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,...,a1eb1511,9512c20b,47849e55,73b3f46d,d994ba60,NaN,d3d5ac76,ff654802,b757e957,day_0
3,6,0,12.0,85.0,4.0,59.0,6.0,0.0,0.0,7,...,b8170bba,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,893704a5,ff654802,e1be5ef2,day_0
4,8,0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-1,...,b8170bba,9512c20b,c07b84a7,323fe50a,504569ef,NaN,1aa62c4a,0b3c06d0,2ccea557,day_0
5,10,0,60.0,262.0,5.0,NaN,6.0,0.0,0.0,67,...,7232d217,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,7caf609c,30436bfc,e1be5ef2,day_0
6,12,0,228.0,2182.0,12.0,NaN,15.0,0.0,0.0,34,...,a1eb1511,cc7a7d35,156cbe87,96fbe197,15562d5d,d3df7183,e633528b,30436bfc,e1be5ef2,day_0
7,14,0,1.0,736.0,0.0,273.0,18.0,0.0,0.0,21,...,b8170bba,9512c20b,ef426d46,0683bc6f,6e86ac23,NaN,2fb4a3d0,30436bfc,b757e957,day_0
8,16,0,4.0,NaN,2.0,NaN,NaN,0.0,0.0,1,...,a1eb1511,9512c20b,ef426d46,0683bc6f,6e86ac23,NaN,b603601c,30436bfc,b757e957,day_0
9,18,0,1.0,19.0,NaN,NaN,NaN,0.0,0.0,169,...,3c328ca5,9512c20b,8fba8671,98b47a15,1e7af622,533dc96d,c1bd1d6f,991321ea,2ccea557,day_0

In [21]:
df.drop(axis="columns", columns=categorical_features + ["id"], inplace=True)

,if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13
0,NaN,600.0,1.0,342.0,9.0,0.0,0.0,18,1,0.0,4.0,27648,1.0
1,3.0,239.0,3.0,NaN,8.0,0.0,0.0,139,0,0.0,2.0,27,3.0
2,3.0,124.0,39.0,398.0,3.0,0.0,0.0,1,40,0.0,1.0,21612,39.0
3,12.0,85.0,4.0,59.0,6.0,0.0,0.0,7,1,0.0,2.0,5878,4.0
4,NaN,2.0,NaN,NaN,NaN,NaN,NaN,-1,0,NaN,NaN,6042,NaN
5,60.0,262.0,5.0,NaN,6.0,0.0,0.0,67,0,0.0,1.0,8513,9.0
6,228.0,2182.0,12.0,NaN,15.0,0.0,0.0,34,21,0.0,8.0,574,158.0
7,1.0,736.0,0.0,273.0,18.0,0.0,0.0,21,10,0.0,6.0,4263,10.0
8,4.0,NaN,2.0,NaN,NaN,0.0,0.0,1,2,0.0,NaN,7,2.0
9,1.0,19.0,NaN,NaN,NaN,0.0,0.0,169,6,0.0,NaN,18643,NaN

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: label, dtype: int64

In [20]:
from model import model, fields, categorical_features

In [7]:
fields

['id',
 'label',
 'if1',
 'if2',
 'if3',
 'if4',
 'if5',
 'if6',
 'if7',
 'if8',
 'if9',
 'if10',
 'if11',
 'if12',
 'if13',
 'cf1',
 'cf2',
 'cf3',
 'cf4',
 'cf5',
 'cf6',
 'cf7',
 'cf8',
 'cf9',
 'cf10',
 'cf11',
 'cf12',
 'cf13',
 'cf14',
 'cf15',
 'cf16',
 'cf17',
 'cf18',
 'cf19',
 'cf20',
 'cf21',
 'cf22',
 'cf23',
 'cf24',
 'cf25',
 'cf26',
 'day_number']